<div class="show-container col-lg-10 col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1">
  <h2 align="center"><%= @article.title %></h2>
  <div class="well col-lg-10 col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1">
    <%= simple_format(@article.description) %>
    <div class="article-actions">
      <%= link_to  "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-info" %>
      <%= link_to  "Delete this article", article_path(@article), method: :delete,
                                          data: { confirm: "Are you sure you want to delete the article?"},
                                          class: "btn btn-xs btn-danger" %>
      <%= link_to  "View all articles", articles_path, class: "btn btn-xs btn-primary" %>
    </div>
  </div>
</div>
