<header>
  <h1><%= link_to 'Alpha', root_path, class: 'highlighted' %>
    <%= link_to 'Blog', root_path, class: 'highlighter_2' %></h1>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Articles', articles_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</header>