<!DOCTYPE html>
<html>
  <head>
    <title>Stylts | Super Thoughts You'll Love to Share</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render  "layouts/navigation" %>
    <div class="container">
      <%= render "layouts/messages" , class: "error-messages" %>
      <%= yield %>
    </div>
    <%= render  "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>