<!DOCTYPE html>
<html>
  <head>
    <title>Stylts | Super Thoughts You'll Love to Share</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body style="background: <%= prefered_color %>">
    <%= render  "layouts/navigation" %>
    <div class="container">
      <%= render "layouts/messages" , class: "error-messages" %>
      <%= yield %>
    </div>
    <%= render  "layouts/footer" %>
  </body>
</html>